// console.log("Pusher talk로 옮겨옴")
// // Enable pusher logging - don't include this in production
// Pusher.logToConsole = true;
//
// var pusher = new Pusher('facb6228691672d04344', {
//   cluster: 'ap1',
//   encrypted: true
// });
//
// var channel = pusher.subscribe('audacia');
// channel.bind('hello', function(data) {
//   // alert(data.message);
//   $('#talks').preppend("<p>" + data.message + "</p>")
// });

// $('#talks').append("<p><%= @talk.message %></p>")
